
<%- include('partials/header.ejs'); -%>


<h1>Home</h1>
<p><%= home %></p>

<!-- <% for(let i = 0; i < blogPosts.length; i++){ %>
    <h2><%= blogPosts[i].title %></h2>
    <p><%= blogPosts[i].content %></p>
<% } %> -->

<% blogPosts.forEach( function(post){ %>
    <h2 id="postTitles"><%= post.title %></h2>
    <p><%= post.content.substring(0, 120) + ".... " %> 
     <a href="/posts/<%= post.title %>">Read more</a>
    </p>
<% }) %>

<button class="btn btn-light">
    <a href="/compose" style="text-decoration: none;">Compose</a>
</button>

<%- include('partials/footer.ejs'); -%>
